.wd-per100 {
  width: 100%;
}

.wd-per90 {
  width: 90%;
}

.wd-per80 {
  width: 80%;
}

.wd-per70 {
  width: 70%;
}

.wd-per50 {
  width: 50%;
}

.creater-box {
  width: 100%;
}


.main-text {
  margin-top: 60px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.rwd-table {
  overflow: hidden;
  ;
  background: #34495E;
  color: #fff;
  border-radius: .5em;
}

.rwd-table tr {
  border-color: #46637f;
}

.rwd-table tbody tr td {
  text-align: center;

}

.rwd-table thead tr th {
  text-align: center;
}

.rwd-table th,
.rwd-table td {
  margin: 0.5em 1em;
}


.rwd-table {
  min-width: 60%;
  margin: auto;
  margin-top: 40px;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:before {
  content: attr(data-th) " : ";
  font-weight: bold;
  display: inline-block;
}



.rwd-table th,
.rwd-table td:before {
  color: #dd5;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .rwd-table td:before {
    display: none;
  }

  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
    text-align: left;
  }

  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }

  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }

  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }

}


@media screen and (max-width: 768px) {

  .row{
    margin-bottom: 20px;
  }

  .rwd-table {
    min-width: 70%;
    width: 70%;
  }
  .rwd-table tbody tr{
    padding: .5em !important;
  }

  .rwd-table tbody tr td {
    text-align: left;
  }

  .rwd-table thead tr th {
    text-align: left;
  }
  tr {
    display: block;
  }
  td:before{
    width: 50%;
    text-align: left;
  }
  td{
    text-align: center;
  }
}


.creature{
  display: flex;
  margin-top: 60px;
}

.creature-box{
  margin: auto;
  align-self: center;
}

.creature-table{
    width: 960px;
    max-width: 960px;
    border: 1px #555555 solid;
    border-collapse: collapse;
    border-spacing: 0;
    color: #fff;
    font-size: 14px;
}

.creature-table thead tr th{
  height: 28px;
}



.creature-table th{
  padding: 3px;
  border: #555555 solid;
  border-width: 0 0 1px 1px;
  background: #9d896c;
  font-weight: bold;
  line-height: 120%;
  text-align: center;
  vertical-align: middle;
}

.creature-table td{
  padding: 3px;
    border: 1px #555555 solid;
    border-width: 0 0 1px 1px;
    color: #030303;
    text-align: center;
    vertical-align: middle;
}


@media screen and (max-width:980px){
  .creature-table{
    width: 720px;
    max-width: 720px;
  }
  .creature-table tr{
      width: 100%;
      display: revert;
  }
}

@media screen and (max-width:768px){
  .creature-table{
    width: 600px;
    max-width: 600px;
  }
  .creature-table tr{
      width: 100%;
      display: revert;
  }
}

@media screen and (max-width:620px){
  .creature-table{
    width: 480px;
    max-width: 480px;
  }
  .creature-table tr{
      width: 100%;
      display: revert;
  }
}


@media screen and (max-width:480px){
  .creature-table{
    font-size: 8px;
    width: 320px;
    max-width: 320px;
  }
  .creature-table tr{
      width: 100%;
      display: revert;
  }
}